/* ========== LAYOUT ========== */

.page.page--home {
  display: grid;
  grid-template-columns: 320px minmax(0, 1fr) 320px;
  gap: 50px;
  max-width: 90%;
  margin: 23px auto;
  padding: 0 20px;
  align-items: start;
  min-height: calc(100vh - 130px);
}

.page.page--home  > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 140px);
  min-height: 900px;
  width: 100%;
  overflow-x: hidden; /* <-- THÊM DÒNG NÀY ĐỂ KHÓA CỘT FEED */
}


/* ========== RESPONSIVE (Chỉ còn lại code cho .page.home) ========== */
@media (max-width: 1400px) {
  .page.page--home  {
    grid-template-columns: 280px minmax(0, 1fr) 280px;
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .page.page--home  {
    grid-template-columns: 260px minmax(0, 1fr) 250px;
    gap: 25px;
  }
}

@media (max-width: 1091px) {
  .page.page--home  {
    grid-template-columns: 260px minmax(0, 1fr);
  }
}

@media (max-width: 787px) {
  .page.page--home  {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .page.page--home  > div:nth-child(2) {
    height: auto;
    min-height: auto;
  }
}

@media (max-width: 555px) {
  .page.page--home  {
    padding: 0 15px;
  }
}

/* Mobile Extra Small: 320px - 374px */
@media (max-width: 500px) {
  .page.page--home  {
    padding: 0 8px;
    margin: 10px auto;
    gap: 8px;
  }
}
@media (max-width: 330px) {
  /* Ép 1 cột cho an toàn tuyệt đối */
  .feed-post__recipe-info{
    grid-template-columns: 1fr;
  }
} 