<header class = "header">
        <div class="header-container">
            <div class="header-content">
                <!-- Logo -->
                <a href="index.html" class="header-logo">
                    <div class="header-logo_img_cont"> 
                        <img src = "../assets/images/logo.svg" class = "header-logo_img"/>
                    </div> 
                    <h1>POTPAN</h1>
                </a>

                <!-- Thanh tìm kiếm -->
                <div class="header-search_bar">
                    <input type="text" placeholder="Tìm kiếm công thức, nguyên liệu...">
                    <button class="header-search_btn">
                        <i class="fas fa-search"></i>
                    </button>
                </div>

                <!-- Điều hướng -->
                <div class="header-nav_links">
                    <a href="index.html" class="active">
                        <i class="fas fa-home nav-icon"></i>
                        <span>Trang chủ</span>
                    </a>
                    <a href="explore.html">
                        <i class="fas fa-compass nav-icon"></i>
                        <span>Khám phá</span>
                    </a>
                    <a href="#">
                        <i class="fas fa-bell nav-icon"></i>
                        <span>Thông báo</span>
                    </a>
                    <a href="messages.html">
                        <i class="fa-solid fa-users"></i>
                        <span>Về chúng tôi</span>
                    </a>
                     <a href="messages.html">
                        <i class="fa-solid fa-user"></i>
                        <span>Đăng nhập</span>
                    </a>

                </div>
            </div>
        </div>
    </header>