<aside class="sidebar">
      <div class="sidebar__profile">
        <img class="sidebar__avatar" id="sidebarAvatar" src="./assets/images/avatar.png" alt="avatar" />
        <div class="sidebar__profile-info">
          <div class="sidebar__name" id="sidebarName">...</div>
          <div class="sidebar__handle" id="sidebarHandle">...</div>
        </div>
      </div>

      <nav class="sidebar__menu">
        <a class="sidebar__menu-item sidebar__menu-item--active" href="#">
          <i class="fas fa-newspaper sidebar__menu-icon"></i>
          <span class="sidebar__menu-text">Bảng tin</span>
        </a>

        <a class="sidebar__menu-item" href="./pages/profile.html">
          <i class="fas fa-user sidebar__menu-icon"></i>
          <span class="sidebar__menu-text">Hồ sơ của tôi</span>
        </a>

        <a class="sidebar__menu-item" href="./pages/my-recipe.html">
          <i class="fas fa-bookmark sidebar__menu-icon"></i>
          <span class="sidebar__menu-text">Công thức đã lưu</span>
        </a>

        <a class="sidebar__menu-item" href="./pages/famous-chef.html">
          <i class="fas fa-utensils sidebar__menu-icon"></i>
          <span class="sidebar__menu-text">Đầu bếp nổi tiếng</span>
        </a>

        <a class="sidebar__menu-item" href="./pages/setting.html">
          <i class="fas fa-cog sidebar__menu-icon"></i>
          <span class="sidebar__menu-text">Cài đặt</span>
        </a>
      </nav>
    </aside>

  