<!doctype html>
<html lang="vi">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Sidebar Hồ sơ</title>
  <link href="../styles/style.sidebar.css" rel="stylesheet">
</head>
<body>

  <aside class="sidebar-card">
    <!-- Hồ sơ -->
    <div class="profile">
      <img class="avatar" src="../images/avatar.png" alt="avatar">
      <div>
        <div class="name">Minh Nhựt</div>
        <div class="handle">@nhutminh_amthuc</div>
      </div>
    </div>

    <!-- Menu -->
    <nav class="menu">
        <a class="item" href="#"><img src="/images/icon/bangtin.svg" style="height: 20px;width: 20px;"/>Bảng tin</a>
        <a class="item" href="#"><img src="/images/icon/hoso.svg" style="height: 20px;width: 20px;">Hồ sơ của tôi</a>
        <a class="item active" href="#"><img src="/images/icon/saverecipe.svg" style="height: 20px;width: 20px">Công thức đã lưu</a>
        <a class="item" href="#"><img src="/images/icon/follow.svg" style="height: 20px;width: 20px;">Đầu bếp theo dõi</a>
        <a class="item" href="#"><img src="/images/icon/recentactivities.svg" style="height: 20px;width: 20px;">Hoạt động gần đây</a>
        <a class="item" href="#"><img src="/images/icon/caidat.svg" style="height: 20px;width: 20px;">Cài đặt</a>
    </nav>
  </aside>

</body>
</html>