:root {
  /* MÀU WEB */
  --primary-color: #FF6967;
  --primary-light: #FF9A99;
  --primary-dark: #E05553;
  --bg-card: #fff;
  --border-color: #e0e0e0;
  --text: #111;
  --text-light: #333;
  --text-light-subtle: #666;
  --muted: #777;
  --text-on-primary: #fff;
  --background-light: #FFF5F5;
  
  /* CÁC LAYOUT DÙNG CHUNG */
  --radius: 16px;
  --shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}