

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f8f9fa; 
  background: #ffffff; 
  margin: 0;
  padding: 0;
  display: grid;
  font-family: Inter, system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif; 
  color: var(--text); 
}